
.Flight_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 3%;
  }
  
  .FlightsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 80%;
    background: #f3f3f3;
    margin: 5px;
    border-radius: 10px;
  }
  
  .Flight_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 30px;
    border-bottom: 2px solid rgb(179, 179, 179);
  }

  .searchDetails {
    margin: 2px;
    display: flex;
    font-size: 18px;
  }
  
  .Flight_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .Flight_selection {
    display: flex;
    align-items: center;
    border-bottom: 2px solid gainsboro;
    height: 20%;
    width: 80%;
  }
  
  .city_info {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .city_name {
    font-size: 30px;
    
  }
  
  .time {
    font-size: 15px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin: 50px
  }
  
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px
  }
  
  .stick {
    height: 2px;
    width: 100px;
    background: black;
    float: left;
  }
  
  .head {
    height: 0px;
    width: 0px;
    border-top: 5px solid transparent;
    border-left: 10px solid black;
    border-bottom: 5px solid transparent;
    float: left;
  }

  .flight_btn {
    height: 50%;
    width: 25%;
    border-radius: 15px;
    border: solid transparent;
    background: rgb(207, 207, 207);
    transition: background 0.3s; /* Adicionando uma transição suave */
  }
  
  /* Adicionando o efeito de hover */
  .flight_btn:hover {
    background: #a531f1; /* Mudando a cor de fundo ao passar o mouse */
  }

  .price {
    margin: 10px;
    font-size: 20px;
    margin-left: 120px;
}


.proceed-btn {
    border-radius: 15px;
    background: #4b42c7;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
    width: 250px;
    margin-left: auto;
}

.proceed-btn:hover {
    background: #3a2f8f;
}
